<!-- Home -->
<div class="home">
	<div class="home_inner">
		<!-- Image artist: https://unsplash.com/@yoannboyer -->
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/about.jpg" data-speed="0.8"></div>
		<div class="home_container">
			<div class="home_content text-center">
				<div class="home_subtitle"></div>
				<div class="home_title">Purchase </div>
			</div>
		</div>
	</div>
</div>
<br><br><br>

<div class="container-fluid mt-4">
	<div class="row text-center">
		<div class="p-5 col-lg-12">
			<h2>Your tickets have been purchased successfully. Thank you for choosing Scalper Tickets!</h2>
			<a href="index.html">Click here to be redirected to the home page</a>
		</div>
	</div>
	<div class="row text-center mt-3">
		<div class="col-3"></div>
		<div class="p-5 col-lg-3">
			<h4>Your confirmation number: #12345</h4>
			<p>order details have been sent to your email</p>
		</div>
		<div class="p-5 col-lg-6 text-left">
			<ul>
				<li>Paper tickets are sent directly to the consumer within five buisness days.</li>
				<li>E-tickets can be printed directly using any form of printing machine.</li>
				<li></li>
			</ul>
		</div>
	</div>
</div>

<br><br>

<hr style="background-color: gray; width: 90%; margin: auto; margin-top: 100px">